<app-navbar/>
<div class="guests-container pt-2">
  <div class="guests-content">
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Número</th>
            <th>Restricción</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr class="hover">
            <th>1</th>
            <td>Gonzalo Peña</td>
            <th>gpenagutierrez87@gmail.com</th>
            <td>+56956729209</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <!-- row 2 -->
          <tr class="hover">
            <th>2</th>
            <td>Hart Hagerty</td>
            <td>hart.hagerty@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <!-- row 3 -->
          <tr class="hover">
            <th>3</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>4</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>5</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>6</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>7</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>8</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>9</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>10</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>11</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>12</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>13</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>14</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>15</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>16</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>17</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>18</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>19</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>20</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>21</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>22</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>23</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>24</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>25</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>26</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>27</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>28</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>29</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>30</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>31</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
          <tr class="hover">
            <th>32</th>
            <td>Brice Swyre</td>
            <td>brice.swyre@example.com</td>
            <td>+56987678765</td>
            <td>Sin restricciones</td>
            <td>2024-06-14</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer/>
